{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
جزئیات {{element.name}}
{% endblock title %}

{% block content %}
<h1>صفحه {{element.name}} </h1>
<p>نام:‌{{ element.name }}</p>
<p>رتبه: {{ element.rate }}</p>


<br>
<br>


        <div>
        <h1>Your Location</h1>
        <hr style='width:65%;margin:auto;'>
        <form method="POST" id='map' style='width:75%;margin:auto;'>
{% comment %} 
        <script type="text/javascript">
            window.addEventListener("map:init", function (e) {
                var detail = e.detail;
                detail.map.setView({{user_location}}, 10);
            }, false);
        </script> {% endcomment %}


<script>
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        {% comment %} L.marker({{ user_location }}).addTo(detail.map); {% endcomment %}
        detail.map.setView({{user_location}}, 10);
    }, false);
</script>

        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Calculate">
        </form>
        </div>

        <br>
        <br>
        <h1>Available Restaurants </h1>
        <hr style='width:65%;margin:auto;'>
        <br>
        <br>

<ul>
    {% for location in locations %}
    {% if location.status %}
    
    <li><h2>  {{location.status }} </h2></li>
    {% endif %}
    {% if location.service_area  %}
    <li>
    {{location.service_area}} Meter
    </li>
    {% endif %}
    <li>
        {{location.city}}
    </li>
    <li>
        {{location.state}}
        </li>  
        {% if location.distance %}
        <li>
        {{location.more}} 
        </li><li>You are {{location.distance}}km away from here
        </li>
        {% endif %}
        
        {% if location.distance == None %}

<li>
        {{location.more}}
        </li>
        

        {% endif %}

        
         <li>
        <div style='width:500px;height:400px'>
        {{ location.map|safe }} 
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}